@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

:root {
  --ff-1 : 'Poppins', sans-serif;
  --ff-2 : 'PT Serif', serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--ff-1);
}
h1{
    font-family: var(--ff-2);
    font-size: 2.25rem;
}

body{
    width: 100%;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
figure{
    width: 15rem;
}

.card figure p{
    font-family: var(--ff-2);
    font-size: .75rem;
    text-transform: uppercase;
    height: 100px;
}
img{
    width: 100%;
}
figcaption{
    font-weight: 900;
    font-size: 1.125rem;
    
}
.div{
    margin-bottom: 6rem;
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    justify-content:space-between;
}
.div>h1{
    font-size: 2.25rem;
}
.div>div{
    width: 27.5rem;
}
.div>div>h2, header>div>p {
    font-size: 1.125rem;
}
.section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
}
.card2, .card5{
    transform: translateY(60px);
    align-self: center;
}
.card3, .card6{
    align-self: self-end;
}
.card {
    display: flex;
    flex-direction: column;
}
.card figure p{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    align-self: end;
    position: absolute;
    transform: translateX(250px);
    height: 150px;
}

.footer{
    color: #BDBDBD;
    font-size: .875rem;
    text-align: center;    
    width: 100%; 
    margin-top: 7em;
    padding: 10px;
}
.footer p{
    width: 100%; 
}
.footer a{
    color: #999999;
}
.footer a:hover{
    color: #444444;
}
  @media  only screen and (max-width: 997px) {
    
    .div{
        display: block;
    }
    .div div{
        margin-bottom: 2.375rem;
    }
    .section{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        width: 100%;
    }
    .card{
        margin-bottom: 4rem;
    }
    .card1, .card3, .card5{
        align-self: start;
    }
    .card5{
        transform: translateY(0);
    }
    .card2, .card4, .card6{
        transform: translateY(60px);
        align-self: end;
    }
    figcaption{
        font-weight: 900;
        font-size: 1.125rem;
    }
    .card{
        width:200px;
    }
    figure{
        width: 100%;
    }
    .card figure p{
        writing-mode: vertical-rl;
        text-orientation: mixed;
        align-self: end;
        position: absolute;
        transform: translateX(200px);
        font-size: .875rem;
    }
  }
  @media  only screen and (max-width: 478px) {
    body{
        justify-content: center;
        flex-direction: column;        
        padding:  1rem 1rem;
    }
    .div{
        display: block;
    }
    .div div{
        margin-bottom: 2.375rem;
    }
    .section{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    .card1, .card3, .card5{
        align-self: start;
    }
    .card5{
        transform: translateY(0);
    }
    .card2, .card4, .card6{
        transform: translateY(70px);
        align-self: start;
    }
    figcaption{
        font-weight: 900;
        font-size: .875rem;
    }
    .card{
        width: 100%;
    }
    figure{
        width: 90%;
    }
    .card figure p{
        
        font-size: .625rem;
    }
    .div>.who{
        width: 80%;
    }
  }